h1 {
  text-align: center;
}

#intro {
  text-align: center;
}

body {
  text-align: none;
  font-family: 'PT Sans', sans-serif;
}

#form1 {
  width: 40%;
  background: #B7B1DC;
  border-radius: 10px;
  margin: auto;
  padding: 1%
}

#display {
  text-align: center;
}
